@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --icon-size: 24px;
  --primary-color: #4285f4;
  --peer-width: 120px;
  --text-color: #333;
  --bg-color: #fafafa;
  --bg-color-secondary: #f1f3f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}


/* Layout */

html {
    height: 100%;
}

html,
body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}
